aside{
    float: left;
    width: 30%;
    margin-left: -5px;


}

.articles{
    float: left;
    width: 70%;
}

.not-aside{
    padding-bottom: 75px;
        background: white;
}
.articles{
border-right: 2px solid rgb(200, 200, 200) ;
}

.author{
    text-align: right;
}

.des{
    font-family: Corbel !important;
}

aside header, aside div, aside p, aside span, aside img{
    margin-left: 25px;
    margin-right: 25px;
}


aside header{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    font-family: Cambria Math;
        border-bottom: 2px solid rgb(18, 67, 107) ;
}


.content{
    display: inline-block;
    width: 100%;
    background: white;
}

.left{
    width: 40%;
    float: left;
    margin-left: 30px;
}
.right{
    width: 50%;
    float: left;
    margin-left: 15px;
}

.right h2{
color: rgb(50, 50, 50);
}

.right h3{
    text-align: left;
    font-size: 15px;
    }
.right article{
    font-family: Corbel;
    
}

.content h2{
font-size: 20px;
padding-top: 20px;
}


.not-aside h1{
font-family: 'Francois One', sans-serif;
    text-align: left;
    margin:0px;
}

aside > div{
    font-family: Helvetica;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 20px;
}

.first-art{
    padding-top: 40px;
}

.right h3{
    color: rgb( 125, 125, 125);
}

article{
    padding-bottom: 30px;
    /*padding-top: 30px;*/
    text-align: left;
    font-size: 20px;
}
.not-aside{
	float: left;
}


a{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: black;
}

#current{
    font-size: 2rem;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.quote{
    text-align: center;
    font-style: italic;
}

aside div > a:hover{
    text-decoration: underline; 
}

.not-aside:last-child{
    padding-bottom: 0px;
}

.not-aside a:hover h1{
    text-decoration: underline;
}
.content{
    padding: 0px;
    margin-bottom: -10px;
}

.yo{
    align-content: right;
    border-bottom: 2px solid rgb(155, 204, 240) ;
    border-top: 2px solid rgb(18, 67, 107);
    font-style: italic;

}

mark{
    background: transparent; /*for now*/
}

.cat{
    text-align: left;
    font-size: 50px;
    margin-left: 30px;
}