aside{
    float: left;
    width: 30%;
    background: yellow;
}

.articles{
    float: left;
    width: 70%;
    background: red;
}

.not-aside{
    padding-bottom: 75px;
}
.content{
    display: inline-block;
    width: 100%;
    background: purple;
}

.left{
    width: 40%;
    float: left;
    margin-left: 10px;
}
.right{
    width: 50%;
    float: left;
    margin-left: 15px;
    text-align: center;
}

.content h2{
    padding: 30px 15px 30px 15px;
}

.content h1{
    margin-left: 15px;
}

article{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
    font-size: 20px;
}
.not-aside{
	float: left;
}


a{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: black;
}

#current{
    font-size: 2rem;
    text-align: center;
}

.quote{
    text-align: center;
    font-style: italic;
}


.not-aside:last-child{
    padding-bottom: 0px;
}

.content{
    padding: 0px;
    margin-bottom: -10px;
}